{% extends "layout.jinja2" %}

{% block body %}
{#	{% if user is defined %}#}
{#		<h2>Hello {{user.firstname}}</h2>#}
{#	{% else %}#}
{#		<h3>Please register or login!<h3>#}
{#	{% endif %}#}

    <h3>The package <strong> {{ value }} </strong> does not exist or not found!</h3>
{% endblock %}