{% extends "layout.jinja2" %}

{% block body %}
{#	{% if user is defined %}#}
{#		<h2>Hello {{user.firstname}}</h2>#}
{#	{% else %}#}
{#		<h3>Please register or login!<h3>#}
{#	{% endif %}#}

    <h3>The next version of <strong> {{ value[0] }} </strong> based on the <strong> {{ value[1] }} </strong>
        version should be <strong>{{ value[2][0] }}.{{ value[2][1] }}.{{ value[2][2] }}</strong></h3>
{% endblock %}